{% extends "base.html" %}

{% block title %}Main Todo App{% endblock %}
{% block content %}

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-8">
        <form name="form" action="/todo" method="post">
          {% csrf_token %}
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Add a Todo Item"
            aria-label="Recipient's username with two button addons" name="task">
            
            <button class="btn btn-outline-secondary" type="submit">Add</button>
          </div>
        </form>
        <hr>
        <p>{{ form.errors.as_text }}</p>

        <!-- <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit">
      </form> -->
      </div>
      <div class="col-8 mt-5">
        <!-- Without any filter -->
        <p>Total Task : {{count}}</p>
        <!-- In built Filters -->
        <p>Total Task : {{todos | length }}</p>
        <!-- Custom filter -->
        {% load my_len_filter %}
        <p>Total Task : {{todos | my_len }}</p>
        <ul class="list-group">
          {% for t in todos %}
          <li class="list-group-item">{{t.task}}</li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </div> 
  {% endblock %}

